Source: initramfs-tools-tcos
Section: net
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 4.0.0), libusplash-dev, imagemagick, librsvg2-bin
Standards-Version: 3.7.2

Package: tcos
Architecture: any
Depends: initramfs-tools-tcos (= ${Source-Version}) , tcos-usplash (= ${Source-Version}),
	 tcos-server-utils (= ${Source-Version}), ${misc:Depends}, ${shlibs:Depends}
         atftpd | tftpd-hpa, dhcp3-server | dhcp-server, tcos-tcosmonitor, tcosmonitor, 
         aumix, pulseaudio, pulseaudio-utils, x11vnc, busybox, libasound2-plugins, xfs,
         mtools
Recommends: pulseaudio-esound-compat, ltspfsd, ltspfs
Conflicts: nvidia-glx, nvidia-glx-legacy, fglrx-driver
Description: new thin client implementation
 This is a system for generating thin client hosts using initramfs.
 TCOS is a set of build tools to prepare an initramfs image to boot
 thin client terminals.
 TCOS support dhcp, sound (alsa & esound | pulseaudio ), ltspfs, 
 Xorg (6.9 or 7.0) and more utils.
 .
 This metapackage will install all required packages to make a 
 thin client server.
 .
  Homepage: http://www.tcosproject.org
 

Package: initramfs-tools-tcos
Architecture: any
Depends: initramfs-tools (>= 0.40), dhcp-client | dhcp3-client, 
         console-data, libnss-db, iftop, strace, twm, xterm, 
         dosfstools, netkit-inetd | inetutils-inetd | openbsd-inetd, 
         debootstrap, libltdl3, tinylogin, disktype, 
	 debconf, grub, syslinux, squashfs-tools, mknbi, dropbear, 
	 ${misc:Depends}, ${shlibs:Depends}
Conflicts: tcos-tcosmonitor (<= 0.0.17), gentcos (<= 0.79.2)
Replaces: gentcos (<= 0.79.2)
Recommends: esound, alsa-utils, links2, dillo, pulseaudio, pulseaudio-utils, ltspfsd, ltspfs
Suggests: unionfs-modules-2.6-486, squashfs-modules-2.6-486
Description: tools for generating a thin client bootable image: TCOS
 This package contains tools to create and boot an initramfs for prepackaged
 2.6 Linux kernel. The initramfs is an cpio archive. At boot time, the kernel
 unpacks that archive into ram, mounts and uses it as initial root file system.
 From there thin client configure some hardware, download extra tools 
 ( /usr dir ) and connect to remote server ussing XMDCP, SSH -X, FreeNX, 
 rDesktop...
 .
 TCOS Thin client support for initramfs-tools.

Package: tcos-usplash
Architecture: any
Depends: initramfs-tools-tcos (= ${Source-Version}), usplash, 
	 ${misc:Depends}, ${shlibs:Depends}
Description: usplash boot image for TCOS
 This package contains usplash artwork for TCOS.


Package: tcos-server-utils
Architecture: any
Depends: shfs-utils, python, python-configobj, 
         initramfs-tools-tcos (= ${Source-Version}), fuse-utils
Description: TCOS server utils (gdm autologin or sshfs mount)
 This is a system for generating thin client systems using initramfs.
 TCOS is a set of build tools to prepare an initramfs image to boot
 thin client terminal.
 This package contain some utils (scripts) to mount or connect
 thin client devices with server users.
 .
 TCOS Thin client usesfull utils to work with TCOS.
