Source: initramfs-tools-tcos
Section: net
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 7.0.0), cdbs, libxmlrpc-c3-dev, libxau-dev, libxaw7-dev, 
               libimlib2-dev, python, python-support (>= 0.3), pkg-config, libasound2-dev
Standards-Version: 3.8.0
Vcs-Git: http://tcosproject.org/git/initramfs-tools-tcos.git
Vcs-Browser: http://tcosproject.org/cgit/cgit.cgi/initramfs-tools-tcos.git/
Homepage: http://www.tcosproject.org

Package: initramfs-tools-tcos
Architecture: any
Depends: tcos-core, 
         initramfs-tools (>= 0.40), 
         dhcp3-client | dhcp-client, 
         console-setup | console-data, 
         mbr, 
         syslinux, 
         squashfs-tools, 
         pciutils, 
         mknbi [ i386 ], 
         debootstrap [ amd64 ], 
         dropbear, 
         acpid, 
         ltspfsd-core, 
         genisoimage, 
         portmap, 
         mtools, 
         ${misc:Depends}, ${shlibs:Depends}
Conflicts: tcosmonitor (<< 0.1.23.2), tcos (<< 0.89.26)
Recommends: pulseaudio, p910nd, twm
Description: Tools for generating a TCOS thin client bootable image
 This package contains tools to create a bootable initramfs for prepackaged
 2.6 Linux kernel. The initramfs is an cpio archive. At boot time, the kernel
 unpacks that archive into ram, mounts and uses it as initial root file system.
 Next thin client configure some hardware, download extra tools 
 ( /usr compressed dir ) and connect to remote server using XMDCP, ssh -X, 
 FreeNX, rDesktop...

Package: tcos-core
Architecture: any
Depends: busybox | busybox-static , 
         xterm, 
         x11vnc, 
         xvnc4viewer | xvncviewer, 
         dosfstools, 
         cdparanoia, 
         scrot, 
         eject, 
         netpipes, 
         libnotify-bin, 
         rtptools,
         libasound2-plugins, 
         stunnel4, 
         openssl, 
         iproute, 
         xdg-utils, 
         pulseaudio-utils, 
         python, 
         python-utmp, 
         python-dbus, 
         ${misc:Depends}, ${shlibs:Depends}
Conflicts: tcosmonitor (<< 0.1.23.2), initramfs-tools-tcos (<< 0.87.0)
Recommends: vlc, libsox-fmt-all
XB-Python-Version: ${python:Versions}
Description: Common script and bins for generating a thin client bootable image: TCOS
 This package contain common scripts, libs , bins and dependencies to
 generate network images or be used in standalone hosts.


Package: tcos-standalone
Architecture: all
Depends: tcos-core (>= 0.88.0), 
         tcosmonitor-common, 
         ethtool, 
         openssl, 
         gksu, 
         python, 
         python-eggtrayicon | python-gnome2-extras, 
         python-gtk2, 
         python-glade2, 
         ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}
Conflicts: tcos-core (<< 0.87.15)
XB-Python-Version: ${python:Versions}
Description: TCOS GUI configurator for standalone hosts
 This package contains a PyGTK+ gui configurator and dependencies
 to install and configure a standalone TCOS host.
  .
 With this package you can control installed clients from tcosmonitor.



Package: tcos
Architecture: all
Depends: initramfs-tools-tcos (>= 0.84.5), 
         tcos-tftp-dhcp | dnsmasq,
         tcosmonitor, tcosconfig, 
         ltspfs, 
         python, 
         python-configobj, 
         fuse-utils, 
         ${misc:Depends}, ${shlibs:Depends}
Recommends: tcos-configurator, 
            tcos-usplash (>= 0.89.14) | tcos-splashy (>= 0.89.14), 
            pulseaudio-esound-compat | esound
XB-Python-Version: ${python:Versions}
Description: New thin client implementation
 This is a system for generating thin client hosts using initramfs.
 TCOS is a set of build tools to prepare an initramfs image to boot
 thin client terminals.
 TCOS support dhcp, sound (alsa & esound | pulseaudio ), ltspfs, 
 Xorg and more utils.
 .
 This metapackage install and recommends all required packages to make a 
 TCOS thin client server.


Package: tcos-tftp-dhcp
Architecture: all
Depends: atftpd, dhcp3-server | dhcp-server
Description: Metapackage to install TCOS with atftp and DHCP server
 This metapackage depends on atftp and a DHCP daemon to provide server 
 daemons needed to run a TCOS server.
