Source: initramfs-tools-tcos
Section: admin
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 4.0.0), usplash, libbogl-dev
Build-Conflicts: nvidia-glx, nvidia-glx-legacy, fglrx-driver
Standards-Version: 3.7.2

Package: tcos
Architecture: any
Depends: initramfs-tools-tcos (= ${Source-Version}) , gentcos (= ${Source-Version})
Recommends: tcos-tcosmonitor, tcosmonitor
Description: new thin client implementation
 This is a system for generating thin client hosts using initramfs.
 TCOS is a set of build tools to prepare an initramfs image to boot
 thin client terminals.
 TCOS support dhcp, sound (alsa & esound | pulseaudio ), ltspfs, 
 Xorg (6.9 or 7.0) and much more utils.
 .
 Homepage: http://soleup.eup.uva.es/trac
 

Package: initramfs-tools-tcos
Architecture: any
Depends: initramfs-tools (>= 0.40), syslinux, dhcp-client | dhcp3-client, 
         console-data, libnss-db, iftop, strace, twm, xterm, 
         dosfstools, netkit-inetd | inetutils-inetd | openbsd-inetd, 
         debootstrap, libltdl3, tinylogin, ltspfs-client, ltspfs-server
Conflicts: tcos-tcosmonitor (<= 0.0.17)
Suggests: unionfs-modules, squashfs-modules
Description: tools for generating a thin client bootable image
 This package contains tools to create and boot an initramfs for prepackaged
 2.6 Linux kernel. The initramfs is an cpio archive. At boot time, the kernel
 unpacks that archive into ram, mounts and uses it as initial root file system.
 From there on the mounting of the real root file system occurs in user space.
 klibc handles the boot-time networking setup. Supports nfs root system.
 Any boot loader with initrd support is able to load an initramfs archive.
 .
 Thin client support for initramfs-tools.

Package: tcos-usplash
Architecture: any
Depends: initramfs-tools-tcos (= ${Source-Version}), usplash, ${misc:Depends}, ${shlibs:Depends}
Description: usplash boot image for TCOS
 This package contains usplash artwork for TCOS.


Package: gentcos
Architecture: any
Depends: debconf, grub, syslinux, initramfs-tools-tcos (= ${Source-Version}), 
         squashfs-tools, mknbi, dropbear, discover, ltspfs-client, ltspfs-server
Recommends: autofs, esound, alsa-utils, links2, dillo, pulseaudio, pulseaudio-utils
Description: Image generation scripts, and tftp config for TCOS
 This is a system for generating thin client systems using initramfs.
 TCOS is a set of build tools to prepare an initramfs image to boot
 thin client terminal.
 TCOS support dhcp, sound (alsa & esound | pulseaudio ), ltspfs, 
 Xorg (6.9 or 7.0) and much more utils.
 and much more utils.

Package: tcos-server-utils
Architecture: any
Depends: shfs-utils, python, python-configobj, 
         initramfs-tools-tcos (= ${Source-Version}), ltspfs-server, fuse-utils
Description: TCOS server utils
 This is a system for generating thin client systems using initramfs.
 TCOS is a set of build tools to prepare an initramfs image to boot
 thin client terminal.
 This package contain some utils (scripts) to mount or connect
 thin client devices with server users.
